<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chengbo.notereg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EditTy"
            android:label="@string/title_activity_edit_ty"
            android:parentActivityName=".WindTy"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.WindTy" />
        </activity>
        <activity
            android:name=".EditServ"
            android:label="@string/title_activity_edit_serv"
            android:parentActivityName=".WindServ"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.WindServ" />
        </activity>
        <activity
            android:name=".DelTy"
            android:label="@string/title_activity_del_ty"
            android:parentActivityName=".WindTy"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.WindTy" />
        </activity>
        <activity
            android:name=".DelServ"
            android:label="@string/title_activity_del_serv"
            android:parentActivityName=".WindServ"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.WindServ" />
        </activity>
        <activity
            android:name=".DelMov"
            android:label="@string/title_activity_delt_mov"
            android:parentActivityName=".WindMov"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.WindMov" />
        </activity>
        <activity
            android:name=".EditMov"
            android:label="@string/title_activity_updt_mov"
            android:parentActivityName=".WindMov"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.WindMov" />
        </activity>
        <activity
            android:name=".InsTy"
            android:label="@string/title_activity_ins_ty"
            android:parentActivityName=".WindTy"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.WindTy" />
        </activity>
        <activity
            android:name=".InsServ"
            android:label="@string/title_activity_ins_serv"
            android:parentActivityName=".WindServ"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.WindServ" />
        </activity>
        <activity
            android:name=".InsMov"
            android:label="@string/title_activity_ins_mov"
            android:parentActivityName=".WindMov"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.WindMov" />
        </activity>
        <activity
            android:name=".WindServ"
            android:label="@string/title_activity_wind_serv"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.MainActivity" />
        </activity>
        <activity
            android:name=".WindTy"
            android:label="@string/title_activity_wind_ty"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.MainActivity" />
        </activity>
        <activity
            android:name=".WindMov"
            android:label="@string/title_activity_wind_mov"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chengbo.notereg.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".NoteRegContentProvider"
            android:authorities="com.chengbo.notereg"
            android:exported="false"/>

    </application>

</manifest>